<!DOCTYPE html>
<html lang="en" ng-app="ImagesApp" ng-controller="ImagesCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title ng-bind-template="{{title}}">Photo Album</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      html,body {
        margin: 0; padding: 0;
        width: 100%; height: 100%;
        background-color: black;
      }
      .title {
        position: fixed;
        top: 0; left: 20%; width: 80%; height: 5%;
        margin: 0; padding: 0;
        color: #ffc;
        text-align: center;
        overflow: auto;
        font-size: x-large; font-weight: bold;
      }
      .sidebar-image-gallery {
        position: fixed;
        top:5%; left: 0; width: 20%; height: 95%;
        overflow: auto;
        border-right: 1px solid #ffc;
      }
      .sidebar-image-gallery a img {
        margin: 5px; padding: 5px;
        border-radius: 5%;
        opacity: 0.85;
        width: 90%;
      }
      .selected {
        border: 1px #ffc solid;
      }
      .status {
        font-size: larger;
        color: #ffc;
      }
      .sidebar-image-gallery a img:hover {
        opacity: 1;
        width: 95%;
      }
      #large-img-panel {
        position: fixed;
        top:5%; left: 20%; width: 80%; height: 95%;
        padding: 10px;
        text-align: center;
      }
      #large-img {
        margin: 0 auto;
        height: 100%; width: 100%; object-fit: contain;
      }
    </style>
  </head>
  <body>
    <div class="title" ng-bind-template="{{title}}">Photo Album</div>

    <div class="sidebar-image-gallery">
      <a ng-repeat="image in images" ng-click="thumb_clicked(image)">
        <img ng-src="{{image.thumb}}"  ng-class="(is_selected(image) ? 'selected' : '')">
      </a>
    </div>

    <div id="large-img-panel">
      <a ng-click="image_clicked()">
        <div class="status" ng-hide="status == null">{{status}}</div>
        <img id="large-img" class="img-responsive" ng-src="{{image.large}}">
      </a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script>
      app = angular.module("ImagesApp", []);
      app.controller("ImagesCtrl", ["$scope", "$http", function($scope, $http) {
        $scope.title = "...";
        $scope.images = [];
        $scope.status = null;

        $scope.thumb_clicked = function(image) {
          $scope.status = 'Loading "' + image.large + '"...';
          $http.get(image.large).then(function() {
            $scope.status = null;
            $scope.image = image;
          }, function() {
            $scope.status = 'Failed to load the "' + image.large + '"';
            $scope.image = image;
          });
        };

        $scope.image_clicked = function() {
          if ($scope.images.length < 2)
            return;

          var index = -1;
          for (var i = 0; i < $scope.images.length; ++i)
            if ($scope.images[i] === $scope.image)
              index = i;

          if (index == -1)
            return;

          if (++index >= $scope.images.length)
            index = 0;

          $scope.thumb_clicked($scope.images[index]);
        };

        $scope.is_selected = function(image) {
          return $scope.image === image;
        };

        $http.get("index.json").success(function(data) {
          $scope.title = data.title;
          $scope.images = data.images;
          if ($scope.images.length > 0)
            $scope.thumb_clicked($scope.images[0]);
        });
      }]);
    </script>
  </body>
</html> 
